variable "wing_version" {
  default = "{{ .WingHash }}"
}

variable "wing_binary_path" {
  default = "wing-{{ .WingHash }}"
}

{{- if .WingDevMode }}
resource "aws_s3_bucket_object" "wing-binary" {
  source = "wing_linux_amd64"
  bucket = "${var.secrets_bucket}"

  # The binary's key changes when the binary hash does, this means we don't use
  # etag to trigger updates
  key    = "${var.wing_binary_path}"
}
{{- end }}
