[Unit]
Description=etcd service for automated testing
After=network.target

[Service]
Type=notify
Environment=ETCD_VER=v3.2.17
Environment=DOWNLOAD_URL=https://github.com/coreos/etcd/releases/download
ExecStartPre=/bin/bash -c 'test -x /tmp/test-etcd/etcd || curl -sL ${DOWNLOAD_URL}/${ETCD_VER}/etcd-${ETCD_VER}-linux-amd64.tar.gz -o /tmp/etcd-${ETCD_VER}-linux-amd64.tar.gz && mkdir -p /tmp/test-etcd && tar xzvf /tmp/etcd-${ETCD_VER}-linux-amd64.tar.gz -C /tmp/test-etcd --strip-components=1'
ExecStart=/tmp/test-etcd/etcd
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
