[Unit]
Description=vault dev server for acceptance tests

[Service]
Environment=VAULT_CMD=/tmp/vault-helper
ExecStart=/bin/bash /etc/puppetlabs/code/modules/vault_client/files/vault-helper dev-server test
RestartSec=5
Restart=on-failure
