[Unit]
Description=vault k8s server for acceptance tests

[Service]
Enviroment=DOWNLOAD_URL=https://github.com/jetstack-experimental/vault-helper/releases/download
Environment=VAULT_CMD=/tmp/vault-helper
Environment=VAULT_ADDR=http://127.0.0.1:8200
Environment=VAULT_DEV_ROOT_TOKEN_ID=init-client-token
Environment=CLUSTER_ID=test
Environment=VAULT_HELPER_VERSION=0.8.5
ExecStart=/bin/bash /etc/puppetlabs/code/modules/vault_client/files/vault-dev-server.sh
RestartSec=5
Restart=on-failure
