[Unit]
Description=Etcd Service to remint PKI for <%= @etcd_cluster %>

After=network.target
After=network-online.target

Wants=network-online.target

[Service]
Type=notify
WorkingDirectory=/etc/etcd
EnvironmentFile=/etc/sysconfig/vault

ExecStartPre=/usr/bin/mkdir -p /etc/etcd/ssl/private /etc/etcd/ssl/certs
ExecStartPre=/usr/bin/chmod 711 /etc/etcd/ssl/private
ExecStartPre=/usr/bin/vault token-renew

ExecStartPre=/bin/bash -c '/usr/bin/vault token-create -address=$VAULT_ADDR -policy="<%= @ec2_tag_cluster %>/etcd" -role="<%= @ec2_tag_cluster %>-etcd" -format=json | /usr/bin/jq -r ".auth.client_token" > /tmp/<%= @ec2_tag_cluster %>-<%= @etcd_cluster %>-etcd-token'
ExecStartPre=/bin/bash -c '/usr/bin/test -e /etc/etcd/ssl/private/etcd-<%= @etcd_cluster %>-key.pem || { /usr/bin/openssl genrsa -out /etc/etcd/ssl/private/etcd-<%= @etcd_cluster %>-key.pem 2048 && /usr/bin/rm -f /etc/etcd/ssl/certs/etcd-<%= @etcd_cluster %>-c*.pem && /usr/bin/chown etcd:etcd /etc/etcd/ssl/private/etcd-<%= @etcd_cluster %>-key.pem && /usr/bin/chmod 600 /etc/etcd/ssl/private/etcd-<%= @etcd_cluster %>-key.pem; }'
ExecStartPre=/bin/bash -c '/usr/bin/test -e /etc/etcd/ssl/certs/etcd-<%= @etcd_cluster %>-csr.pem || { /usr/bin/openssl req -new -key /etc/etcd/ssl/private/etcd-<%= @etcd_cluster %>-key.pem -out /etc/etcd/ssl/certs/etcd-<%= @etcd_cluster %>-csr.pem -subj "/CN=<%= @ec2_tag_hostname %>.<%= @ec2_tag_cluster %>.<%= @dns_root %>" && /usr/bin/rm -f /etc/etcd/ssl/certs/etcd-<%= @etcd_cluster %>-cert.pem; }'

ExecStartPre=/bin/bash -c 'VAULT_TOKEN=$(/usr/bin/cat /tmp/<%= @ec2_tag_cluster %>-etcd-token); /usr/bin/vault token-renew'

ExecStart=/bin/bash -c 'VAULT_TOKEN=$(/usr/bin/cat /tmp/<%= @ec2_tag_cluster %>-<%= @etcd_cluster %>-etcd-token); /usr/bin/vault write --field certificate <%= @ec2_tag_cluster %>/pki/etcd-<%= @etcd_cluster %>/sign/server csr="$(/usr/bin/cat /etc/etcd/ssl/certs/etcd-<%= @etcd_cluster %>-csr.pem)" > /etc/etcd/ssl/certs/etcd-<%= @etcd_cluster %>-cert.pem'
