[Unit]
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=HOME=/root
ExecStartPre=/bin/bash -c "test -x /usr/bin/kubectl || curl -Lo /usr/bin/kubectl https://storage.googleapis.com/kubernetes-release/release/v1.7.5/bin/linux/amd64/kubectl && chmod +x /usr/bin/kubectl"
ExecStartPre=/bin/bash -c "test -x /usr/bin/minikube || curl -Lo /usr/bin/minikube https://storage.googleapis.com/minikube/releases/v0.22.2/minikube-linux-amd64 && chmod +x /usr/bin/minikube"
ExecStart=/usr/bin/minikube start --vm-driver none --extra-config kubelet.CgroupDriver=systemd
