[Unit]
Description=Mount EBS Volume to /var/lib/etcd
Requires=format-ebs-volume.service
After=format-ebs-volume.service
[Mount]
What=/dev/xvdd
Where=/var/lib/etcd
Type=xfs
[Install]
WantedBy=multiuser.target
