[Unit]
Description=vault k8s server for acceptance tests

[Service]
Environment=VAULT_CMD=/tmp/vault-dev-bin
Environment=VAULT_ADDR=http://127.0.0.1:8200
Environment=VAULT_DEV_ROOT_TOKEN_ID=root-token
Environment=VAULT_TOKEN=root-token
Environment=CLUSTER_ID=test
ExecStartPre=/bin/bash /etc/puppetlabs/code/modules/vault_client/files/vault-dev-server.sh download
ExecStart=/bin/bash /etc/puppetlabs/code/modules/vault_client/files/vault-dev-server.sh server
ExecStartPost=/bin/bash /etc/puppetlabs/code/modules/vault_client/files/vault-k8s-setup.sh
RestartSec=5
Restart=on-failure
